@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html, body, p, button, h1, h2, h3, h4, h5, h6, strong, em {
    font-family: 'Noto Sans', sans-serif;
}

input[type=button] {
    font-family: 'Noto Sans', sans-serif;
}

p, label, input {
    margin: 4px;
}

hr {
    opacity: 0.6;
}

.container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   align-content: space-between;
}

.navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.navigation button {
    width: 110px;
    margin-left: 14px;
}

.footer-content {
    background-color: white;
    width: 100%;
    text-align: center;
}

.item_extra {
    display: inline-block;
    background: rgb(241, 241, 241);
    padding: 8px;
}

label {
    display: inline-block;
    min-width: 100px;
    text-align: right;
}

body {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 60px;
}

footer {
    margin-top: 100px;
}

.main-grid {
    /* min-height: 50vh; */
    max-width: 100vw;
    display: flex;
    flex-wrap: wrap;
}

.grid-item {
    padding: 10px;
    display: inline-block;
    max-width: 140px;
    min-width: 140px;
    max-height: 170px;
    margin: 10px;
    background-color: rgb(247, 247, 247);
    border: 1px solid rgba(0, 0, 0, 0.4);
}

.grid-item:hover {
    border: 1px solid rgba(0, 0, 0, 0.8);
    /* cursor: pointer; */
}

.grid-item .item-sku {
    opacity: 0.7;
    font-size: 90%;
}

.grid-item .item-name {
    margin: 8px 0;
    font-size: 110%;
}

.grid-item .item-price {
    margin-top: 10px;
}

.message-box {
    padding: 8px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    margin: 14px 0;
    background: rgba(255, 0, 0, 0.18);
    display: none;
    font-size: 90%;
}